// app global css in SCSS form
.r-decoration-none {
  text-decoration: none;
}

.warna-bg-hero {
  background-color: #ffd2d2;
}

.bg-primer {
  background-color: #e35d6a;
}

.warna-bg-hero {
  background-color: #ffd2d2;
}

.text-h4 {
  font-size: 1.5rem;
}

// .text-primer{
//   color: #c43140;
// }

.bg-primer-young {
  background-color: #ffb0b0;
}
